<div class="aspect-square grid gap-1 grid-cols-3 grid-rows-3 justify-items-center items-center">
    <div></div>
    <button mat-raised-button class="adjustment-btn" (click)="rosService.headUp()">UP</button>
    <div></div>
    <button mat-raised-button class="adjustment-btn" (click)="rosService.headLeft()">LEFT</button>
    <button mat-raised-button class="adjustment-btn" (click)="rosService.headHome()">HOME</button>
    <button mat-raised-button class="adjustment-btn" (click)="rosService.headRight()">RIGHT</button>
    <div></div>
    <button mat-raised-button class="adjustment-btn" (click)="rosService.headDown()">DOWN</button>
</div>